.button-imagess {
    margin-left: 10px; 
    margin-right: 10px; 
  }


  .button_mod  {
    width: 60%;
    height: 60px;
    background-color: #28a745 !important;
    color: #ffffff;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button_mod:hover {
    background-color: green !important;
  }

  
  