.container {
  padding: 0px;
  margin: 0px;
}

.center_style {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.container_top {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(156, 157, 158);
  border-radius: 30px;
}

.title_texts {
  width: 38%;
}
.title_texts h2 {
  text-align: left;
  color: rgb(49, 48, 48);
  font-size: 40px;
  margin-top: 40px;
  margin-left: 40px;
  font-weight: 700;
}

.Bayer_register {
  margin-left: 10%;
  margin-top: 35px;
  width: 45%;
  height: 90vh;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 30px;
}

.bayer_text {
  margin-top: 2%;
  list-style-type: none;
  font-size: 38px;
  text-align: center;
  font-weight: bolder;
  color: black;
  font-weight: bolder;
  font-family: system-ui;
  font-weight: 600;
}

.tel {
  display: flex;
  justify-content: center;
}

.kg996 {
  margin: 12px;
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: system-ui;
  font-weight: 400;
  color: white;
  background-color: rgb(17, 174, 17);
  border-radius: 15px;
}
.input_tel {
  margin: 12px 0px 12px 0px;
  border-radius: 15px;
  border: 0px;
  background-color: rgb(17, 174, 17);
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: white;
  font-family: system-ui;
  transition: 0.2s;
}
.input_tel:hover {
  margin: 12px -10px 12px -10px;
  border-radius: 15px;
  border: 0px;
  background-color: rgb(53, 189, 53);
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: white;
  font-family: system-ui;
  transition: 0.2s;
}
.input_bayer {
  margin: 12px 30px 12px 40px;
  border-radius: 15px;
  border: 0px;
  background-color: rgb(17, 174, 17);
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: white;
  transition: 0.2s;
}

.input_bayer:hover {
  margin: 12px 20px 12px 30px;
  border-radius: 17px;
  background-color: rgb(53, 189, 53);
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: white;
}

.works {
  display: flex;
  justify-content: space-around;
}

.wrokCour {
  display: flex;
  justify-content: flex-end;
}

.wrokCour1 {
  display: flex;
  justify-content: center;
}
.wrokCour2 {
  display: flex;
  justify-content: flex-start;
}

.btn_continue {
  margin: 32px 130px 2px 130px;
  border-radius: 15px;
  border: 0px;
  background-color: rgb(17, 174, 17);
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: white;
  font-family: system-ui;
  transition: 0.2s;
}

.btn_continue:hover {
  margin: 32px 128px 2px 128px;
  border-radius: 15px;
  border: 0px;
  background-color: rgb(53, 189, 53);
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: white;
  font-family: system-ui;
  transition: 0.2s;
}
.bt_title_link {
  list-style-type: none;
  text-align: center;
}
.bt_title_text {
  font-weight: 200;
  font-size: 16px;
  font-family: system-ui;
  color: black;
}

.bt_title_text2 {
  font-weight: 400;
  font-size: 16px;
  font-family: system-ui;
  width: 60%;
  margin-left: 20%;
}

.container_bottom {
  margin-top: 30px;
  width: 80%;
  height: 45vh;
  background-color: rgb(156, 157, 158);
  border-radius: 30px;
}

.image_seller_img-text {
  margin: 0 85px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.seller_image-text {
  width: 32%;
}
