* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Manrope, serif',
}

.nav_dev {
  display: flex;
  justify-content: space-evenly;
  background-color: #28a745;
  margin-bottom: 5px;
}

.nav_left {
  max-width: 500px; 
  padding: 10px;
}

.nav_left h2 {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 60px;
}

.nav_left p {
  font-size: 20px;
  font-weight: 500;
  color: #f0eaeae6;
  margin-bottom: 45px; 
}

.nav_left a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
}

.nav_left img {
  width: 100%;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px; 

}

.nav_right img {
  margin-top: 70px;
}





.menu_dev {
  display: flex;
  flex-direction: column;
  background-color: #f6f7f9;
  width: 95%;
  border-radius: 20px;
  margin: auto;
  height: 500px;
  align-items: stretch;
  margin-top: 20px;
}

.menu_dev h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.menu_title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  gap: 60px;
}

.menu_title h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.menu_title p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.menu_title img {
  width: 100px;
  height: 100px;
}

.menu_app {
  display: flex;
  justify-content: space-between;
}

.menu_app img {
  width: 200px;
  height: 200px;
}

.menu-h {
  font-family: "PT Serif", serif;
  font-weight: 700;
}

.foot_dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.foot_dev h3 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.foot_dev p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.foot_dev .courier-images-container {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  width: 90%;
}

.courier-images-container img {
  width: 100%; 
}
.carousel-caption {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.carousel-caption h3 {
    color: white;
    font-size: 32px;
    font-weight: 900;
}

@media (max-width: 1240px) {
  .nav_left h2 {
    font-size: 28px;
  }

  .nav_left p {
    font-size: 18px;
  }

  .nav_left img {
    width: 80%;
  }
  

  .nav_right img {
    width: 80%;
  }

  .carousel-item img {
    height: 200px; 
  }
  

  .menu_dev h2 {
    font-size: 40px;
  }

  .menu_title h3 {
    font-size: 20px;
  }

  .menu_title p {
    font-size: 16px;
  }

  .menu_title img {
    width: 90px;
    height: 90px;
  }

  .menu_dev {
    height: 450px;
  }

  .foot_dev h3 {
    font-size: 40px;
  }

  .foot_dev p {
    font-size: 16px;
  }

  .courier-images-container {
    width: 90%;
  }

  .courier-images-container img{
    width: 100%;
  }
}

@media (max-width: 1140px) {
  .nav_left h2 {
    font-size: 26px;
  }

  .nav_left p {
    font-size: 16px;
  }

  .nav_left img {
    width: 70%;
  }
  

  .nav_right img {
    width: 80%;
  }

  .carousel-item img {
    height: 180px; 
  }
  

  .menu_dev h2 {
    font-size: 36px;
  }

  .menu_title h3 {
    font-size: 18px;
  }

  .menu_title p {
    font-size: 14px;
  }

  .menu_title img {
    width: 80px;
    height: 80px;
  }

  .menu_dev {
    height: 400px;
  }

  .foot_dev h3 {
    font-size: 36px;
  }

  .foot_dev p {
    font-size: 14px;
  }

  .courier-images-container {
    width: 80%;
  }

  .courier-images-container img{
    width: 90%;
  }
}

@media (max-width: 1040px) {
  
  .menu_dev h2 {
    font-size: 32px;
  }

  .menu_title h3 {
    font-size: 18px;
  }

  .menu_title p {
    font-size: 14px;
  }

  .menu_title img {
    width: 70px;
    height: 70px;
  }

  .menu_dev {
    height: 400px;
  }

  .foot_dev h3 {
    font-size: 32px;
  }

  .foot_dev p {
    font-size: 16px;
    text-align: center;
  }
  .courier-images-container {
    width: 80%;
  }
  .courier-images-container img{
    width: 80%;
  }
}

@media (max-width: 940px) {

  .nav_left {
    max-width: 500px; 
    padding: 10px;
  }


  .nav_left h2 {
    font-size: 24px;
  }

  .nav_left p {
    font-size: 16px;
  }

  .nav_left a {
    display: flex;
    margin-top: 0px;
    padding: 0px;
  }

  .nav_left img {
    width: 35%;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0; 
  }

  .nav_right img {
    width: 70%;
  }


  .menu_dev h2 {
    font-size: 28px;
  }

  .menu_title h3 {
    font-size: 16px;
  }

  .menu_title p {
    font-size: 12px;
  }

  .menu_title img {
    width: 60px;
    height: 60px;
  }

  .menu_dev {
    height: 350px;
  }

  .foot_dev h3 {
    font-size: 28px;
  }

  .foot_dev p {
    font-size: 14px;
    text-align: center;
  }

  .courier-images-container {
    width: 90%;
  }

  .courier-images-container img{
    width: 80%;
  }
}

@media (max-width: 768px) {
  .nav_dev {
    display: flex;
    justify-content: space-around;
  }
  .nav_left {
    max-width: 400px; 
    padding: 10px;
  }


  .nav_left h2 {
    font-size: 24px;
  }

  .nav_left p {
    font-size: 16px;
  }

  .nav_left a {
    display: flex;
    margin-top: 0px;
    padding: 0px;
  }

  .nav_left img {
    width: 35%;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0; 
  }

  .nav_right img {
    width: 70%;
  }


  .menu_dev h2 {
    font-size: 28px;
  }

  .menu_title h3 {
    font-size: 16px;
  }

  .menu_title p {
    font-size: 12px;
  }

  .menu_title img {
    width: 60px;
    height: 60px;
  }

  .menu_dev {
    height: 350px;
  }

  .foot_dev h3 {
    font-size: 28px;
  }

  .foot_dev p {
    font-size: 14px;
    text-align: center;
  }

  .courier-images-container {
    width: 90%;
  }

  .courier-images-container img{
    width: 80%;
  }
}

@media (max-width: 426px) {
    .nav_dev {
      flex-direction: column;
    }

    .nav_left h2 {
      margin-top: 20px;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 45px; 
    }

    .nav_left p {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
    }

    .nav_left a{
      display: flex;
    }

    .nav_left img {
      width: 40%;
      margin: 0;
      padding: 0;
    }

    .nav_right img {
      width: 80%;
      margin: 0 auto; 
    }

    .menu_title {
      flex-direction: column;
    }

    .carousel-item img {
      height: 200px; 
    }
  
    .carousel-caption {
      display: none;
    }

    .foot_dev .courier-images-container img:first-child,
  .foot_dev .courier-images-container img:last-child {
    display: none;
  }

  .menu_dev > div {
    display: none; 
  }

  .menu_dev > div:first-child {
    display: flex; 
  }
}